.main .content {
  background: url('/images/background.jpg') no-repeat left top;
  background-size: 100% 100%;
}

.main input {
  margin-top: 240px;
}

.messages textarea {
  margin-top: 20px;
  resize: none;
}

.message {
  padding: 10px 12px;
}

.message img {
  border-radius: 25px;
  margin-right: 5px;
  vertical-align: -7px;
}

.username {
  color: #ababab;
  font-weight: bold;
}

.text {
  color: #000;
  margin-left: 34px;
}

#mapbox {
  height: 420px;
	top: 44px;
}
